:root {
  --primary-bg: #0d0d0d;
  --accent: #dcbf02;
  --text-light: #f4f4f4;
  --text-muted: #b3b3b3;
  --card-bg: #1a1a1a;
  --font-main: 'Poppins', sans-serif;
}

.home-wrapper {
  background: var(--primary-bg);
  color: var(--text-light);
  font-family: var(--font-main);
  padding-bottom: 3rem;
  background: url("../assets/food composition.jpg") no-repeat center center/cover;
  content: "";
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 1);
}

.home-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.800)),
  url("../assets/food composition.jpg") no-repeat center center/cover;
  filter: blur(5px);
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.home-content {
  text-align: center;
  padding: 40px 0;
}

.home-content h1 {
  font-size: 3rem;
  color: var(--accent);
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.2rem;
  color: var(--text-muted);
  max-width: 800px;
  margin: 0 auto;
}