.notification-page {
    padding: 60px 20px;
    background-color: #121212; /* dark theme */
    color: #f5f5f5;
    min-height: 100vh;
    background: url('../assets/food composition.jpg') no-repeat center center/cover;
    content: "";
    backdrop-filter: blur(5px);
     background: rgba(0, 0, 0, 1);

    
  }
  .notification-page::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.800)), /* black overlay */
  url("../assets/food composition.jpg") no-repeat center center/cover;
  filter: blur(8px); /* adjust the blur amount */
  z-index: -1; /* send it behind the content */
  }
.notification-page {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
  min-height: 100vh;
}

.notification-page h2 {
  font-size: 50px;
  font-weight: bold;
  color: #fbdd18;
}

.subtitle {
  margin-top: 5px;
  color: #ffffff;
  font-size: 25px;
}

.notification-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  text-align: left;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header h3 {
  font-size: 30px;
  font-weight: bold;
}

.mark-all-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  font-size: 15px;
  cursor: pointer;
}

.mark-all-btn:hover {
  background-color: #080808;
}

/* Notification Cards */
.notification-card {
  border-radius: 6px;
  padding: 15px;
  margin-top: 15px;
  color: #000;
}

.notification-card h4 {
  font-weight: 600;
  margin-bottom: 5px;
}

.notification-card p {
  margin: 0;
  font-size: 14px;
}

.notification-card .time {
  display: block;
  margin-top: 5px;
  color: #ff9b9b;
  font-size: 13px;
}

/* Color Types */
.success {
  background-color:#e9f8ea ;
}

.info {
  background-color: #28a745;
}

.warning {
  background-color:#dc3545;
}

/* Settings Section */
.settings-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-top: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.settings-box h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  padding: 15px 0;
}

.setting-item p {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}

.setting-item input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
